
# Dependency directories
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock files
packages/**/yarn.lock
packages/**/package-lock.json
package-lock.json
yarn.lock

# VsCode configs
.vscode/

# typescript
*.tsbuildinfo
