
# Dependency directories
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock files
package-lock.json
packages/plugin-kafkajs/yarn.lock
packages/plugin-aws-sdk/yarn.lock
packages/**/package-lock.json

# VsCode configs
.vscode/

# typescript
*.tsbuildinfo