
# Dependency directories
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock files
yarn.lock
package-lock.json
packages/**/yarn.lock
packages/**/package-lock.json

# VsCode configs
.vscode/