name: Run Tests Daily

on:
  schedule:
    # this is 5:17 UTC every day (israel morning)
    - cron:  '17 5 * * *'
    
  workflow_dispatch:

jobs:

  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]

    services:

      mongo:
        image: mongo
        ports:
          - 27017:27017

      neo4j:
        image: neo4j:4.2.3
        ports:
          - 7474:7474
          - 11011:7687
        env:
          NEO4J_AUTH: neo4j/test


    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node_version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node_version }}

      - name: Fetch all history for all tags and branches
        run: git fetch

      - name: Install Dependencies
        run: yarn

      - name: Build
        run: yarn build:ci

      - name: Test
        run: yarn test:ci:all

      - name: Slack Notification on Failure
        if: ${{ failure() }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.DAILY_TESTS_FAILURE_SLACK_WEBHOOK }}

